expo-env.d.ts


# Dependencias
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Expo / React Native
.expo/
.expo-shared/
dist/
web-build/
android/
ios/

# Variables de entorno
.env

# Mac / Windows / Linux basura
.DS_Store
Thumbs.db

